
##### RULES #####

# LEVELS FOR LOGGERS: DEBUG, INFO, ERROR
# ALL TTL IN SECONDS

##### RULES #####



# APP
BASE_USERNAME=admin # <----
BASE_PASSWORD=admin # <----


#   LOGGER_DATA #
LOGS_PATH=logs
LOG_LEVEL_APP=INFO
LOG_LEVEL_SERVER=INFO
LOG_LEVEL_DATABASE=DEBUG
LOG_LEVEL_SERVICE=INFO
LOG_LEVEL_CACHE=INFO

#   DATABASE-REPORT #

# If you change username or/and password to db, you need
# to change username or/and password in 
DB_RP_ADDR=postgres://admin:admin@db-report/report # <--- this string, where admin:admin == username:password
DB_RP_MIN_CONN=2
DB_RP_MAX_CONN=16
DB_RP_MAX_CONN_LIFETIME=3600
DB_RP_MAX_CONN_LIFETIME_JITTER=0
DB_RP_MAX_CONN_IDLE_TIME=1800
DB_RP_HEALTH_CHECK_PERIOD=60

#   DATABASE-USERDATA #

# If you change username or/and password to db, you need
# to change username or/and password in 
DB_UD_ADDR=postgres://admin:admin@db-userdata/userdata # <--- this string, where admin:admin == username:password
DB_UD_MIN_CONN=2
DB_UD_MAX_CONN=16
DB_UD_MAX_CONN_LIFETIME=3600
DB_UD_MAX_CONN_LIFETIME_JITTER=0
DB_UD_MAX_CONN_IDLE_TIME=1800
DB_UD_HEALTH_CHECK_PERIOD=60

#   CACHE #

# If you change password to cache, you need
# to change password in 
CACHE_ADDR=cache:6379
CACHE_PASSWORD=admin # <---- this string
CACHE_DB=0
CACHE_EXPIRE_TIME=0

#   SERVER #
SERVER_IP=0.0.0.0
SERVER_PORT=8008


# TOKEN MANAGER #
ACCESS_TOKEN_LIMIT=7200
ACCESS_SECRET=a0c5e88e4f5b3dcb148176bca74713bbc492b0c7a957b1534bd458ff19d2733095fe03826e2c65f1a365f5d0da71b41373658e05deaf0bca97f7ed3e5402f987
REFRESH_TOKEN_LIMIT=518400
REFRESH_SECRET=a6df01d3f0939dc3733f5e3e5dd80b49de928e010c2f5db955659f03ba84f17a3f543a97bff5978eaf3fbcbcaa1408dad52e1dcfea0c84517312dc45723a5d44
