#   CACHE (REDIS)
REDIS_PASSWORD=admin # <----
REDIS_USER=admin # <----
REDIS_USER_PASSWORD=admin # <----


#   DATABASE-REPORT
PG_RP_PASSWORD=admin # <----
PG_RP_USER=admin # <----
PG_RP_DB=report

#   DATABASE-USERDATA
PG_UD_PASSWORD=admin # <----
PG_UD_USER=admin # <----
PG_UD_DB=userdata


#   MIGRATION-USERDATA

# If you change username or/and password to db, you need
# to change username or/and password in 
DB_UD_URL=postgres://admin:admin@db-userdata/userdata?sslmode=disable # <--- this string, where admin:admin == username:password

# If you change username or/and password to db, you need
# to change username or/and password in  
DB_RP_URL=postgres://admin:admin@db-report/report?sslmode=disable # <--- this string, where admin:admin == username:password